# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# macOS
.AppleDouble
.LSOverride
._*

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Keep data files but ignore temporary data files
*.tmp
*.temp
*.bak

# Data files
*.msgpack
*.parquet
*.csv
*.json 